body {
    color: #AAA;
    background-color: #111;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

h1 {
    text-align: center;
}

a {
  color: #66f;
}

a:visited {
  color: #b7e;
}

td.ingredient-cell {
  white-space: nowrap;
  width: 25%;
}

td.recipe-cell {
  white-space: nowrap;
  width: 25%;
}

td.recipe-details {
  width: initial;
}

img {
  padding-right: 1em;
}

table.page-header {
  margin-left: auto;
  margin-right: auto;
}

table.page-header img {
  padding-right: 1em;
  padding-left: 1em;
  vertical-align: middle;
}

table.page-header tr {
  vertical-align: middle;
  text-align: center;
}

span.cooked-recipe {
  font-weight: bold;
  text-shadow: 0 0 5px #0FF;
}

a.cooked-recipe, h1.cooked-recipe {
  text-decoration: line-through;
}

table.nav-header {
  width: 100%;
  text-align: center;
  border-spacing: 1em 0px;
}

table.nav-header progress {
  width: 10em;
}

/*table.nav-header progress.not-started {
  box-shadow: inset 0px 0px 5px 0px #F00;
}

table.nav-header progress.low-progress {
  box-shadow: inset 0px 0px 5px 0px #80F;
}

table.nav-header progress.medium-progress {
  box-shadow: inset 0px 0px 5px 0px #08F;
}

table.nav-header progress.high-progress {
  box-shadow: inset 0px 0px 5px 0px #0FF;
}
*/
table.nav-header progress.completed {
  box-shadow: inset 0px 0px 5px 3px #FF0;
}

/*
table.nav-header td {
  border-right-width: 1em;
}

table.nav-header td:last-child {
  border-right-width: initial;
}
*/
