body {
    color: #AAA;
    background-color: #111;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

h1 {
    text-align: center;
}

a {
  color: #66f;
}

a:visited {
  color: #b7e;
}
